@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: medium;
  font-family: "Lato", sans-serif;
  line-height: 1.46668;
  font-weight: 400;
  color: #1d1c1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}


.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 70% 10%;
}

.wrapper > header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 2.5rem;
  width: 100vw;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column > img {
  height: 200px;
  width: auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
  font-size: 13.5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 800px;
}

.main-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 800px;
  margin-top: 4rem;
}

.sub-header-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.form-container-register {
  margin-top: 2rem;
}

.btn-signup {
  color: #fff;
  background-color: #154b3d;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.btn-login {
  color: #fff;
  background-color: #154b3d;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

form {
  text-align: center;
  margin: 0 180px;
}

.form-container {
  margin-top: 3rem;
}

.form-container span {
  color: red;
}

form input {
  width: 100%;
  height: 44px;
  line-height: 1.333333;
  padding: 11px 12px 13px;
  margin-top: 20px;
  font-size: 22px;
  border: 1px solid rgba(29, 28, 29, 0.3);
  border-radius: 4px;
}

.registered {
  text-align: center;
  font-size: 0.9rem;
}

.registered p {
  color: rgb(129, 128, 128);
}

.registered a {
  text-decoration: none;
}

form div span {
  font-size: 1rem;
  color: red;
}

.visibility-hidden {
  visibility: hidden;
}

footer {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer div {
  margin: 8px;
  font-size: 1.1rem;
  color: rgb(148, 145, 145);
}

.sub-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.wrapper-table {
  height: 92vh;
  width: 100%;
  padding: 2rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-table {
  height: 40.8rem;
  width: 80rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.row-end{
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 1em;
  min-width: 400px;
  width: 100%;
  border-radius:  5px 5px 0 0;
  overflow: hidden;
}

table thead {
  height: 60px;
  background-color: rgb(29, 49, 87);
  color: white;
}

table th td{
  padding: 12px 15px;
}

table td {
  text-align: center;
  align-items: center;
  padding: 14px;
}

table td button {
  color: #fff;
  background-color: #27997b;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  min-width: 96px;
  cursor: pointer;
}

table tbody tr{
  border-bottom: 1px solid #dddddd;
}

table .stock-table-body tr:last-of-type{
  border-bottom: 2px solid rgb(29, 49, 87);
}

.wrapper-portfolio {
  height: 92vh;
  width: 100%;
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-portfolio {
  height: 40.7rem;
  width: 80rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.thead-portfolio{
  /* background-color: rgb(78, 111, 181); */
  background-color: rgb(29, 49, 87);
}

.thead-portfolio tr th:first-child{
  width: 40%;
}

.thead-portfolio tr th:nth-child(2){
  width: 20%;
}

.thead-portfolio tr th:nth-child(3){
  width: 20%;
}

.portfolio-sell {
  color: #fff;
  background-color: rgb(66, 89, 130);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  min-width: 96px;
  cursor: pointer;
}

table .portfolio-table-body tr:last-of-type{
  border-bottom: 2px solid rgb(29, 49, 87);
}

.portfolio-footer {
  height: 3.4rem;
  width: 80rem;
  padding: 4px;
  display: flex;
  justify-content: end;
}

.balance {
  font-size: 0.9em;
  padding: 5px;
}

.balance p .first {
  margin-left: 24px;
}

.balance p .last {
  margin-left: 10px;
}

.container-transaction {
  min-height: 35rem;
  width: 100rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.transaction-table-body {
  min-height: 35rem;
  width: 100rem;
}

table .transaction-table-body tr:last-of-type{
  border-bottom: 2px solid rgb(29, 49, 87);
}

.create-wrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1d1c1dd6;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create {
  border: 1px solid black;
  width: 1000px;
  height: 650px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.btn-create{
  color: #fff;
  background-color: #132a87;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.popup-channel {
  height: 60px;
  font-size: 2rem;
  margin-left: 900px;
  cursor: pointer;
}

.btn-create-user{
  color: rgb(11, 11, 11);
  background-color: rgb(247, 249, 250);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  height: 40px;
  min-width: 120px;
  cursor: pointer;
}

.horizontal-ruler {
  height: 1px;
  width: 445px;
  border: none;
  border-top: 1px solid #ddd;
  clear: both;
  margin-top: 50px;
}

