*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 70% 10%;
}

.wrapper > header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 2.5rem;
  width: 100vw;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column > img {
  height: 200px;
  width: auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
  font-size: 13.5px;
}

.main-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 800px;
  margin-top: 4rem;
}

.sub-header-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.form-container-register {
  margin-top: 2rem;
}

.btn-signup {
  color: #fff;
  background-color: #154b3d;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

form {
  text-align: center;
  margin: 0 180px;
}

form input {
  width: 100%;
  height: 44px;
  line-height: 1.333333;
  padding: 11px 12px 13px;
  margin-top: 20px;
  font-size: 22px;
  border: 1px solid rgba(29, 28, 29, 0.3);
  border-radius: 4px;
}

.registered {
  text-align: center;
  font-size: 0.9rem;
}

footer {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer div {
  margin: 8px;
  font-size: 1.1rem;
  color: rgb(148, 145, 145);
}