@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: medium;
  font-family: "Lato", sans-serif;
  line-height: 1.46668;
  font-weight: 400;
  color: #1d1c1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}


.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10% 70% 10%;
}

.wrapper > header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 2.5rem;
  width: 100vw;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column > img {
  height: 200px;
  width: auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
  font-size: 13.5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 800px;
}

.main-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-inline: auto;
  width: min(90%, 70.5rem);
  max-width: 800px;
  margin-top: 4rem;
}

.sub-header-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}

.form-container-register {
  margin-top: 2rem;
}

.btn-signup {
  color: #fff;
  background-color: #154b3d;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.btn-login {
  color: #fff;
  background-color: #154b3d;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

form {
  text-align: center;
  margin: 0 180px;
}

.form-container {
  margin-top: 3rem;
}

.form-container span {
  color: red;
}

form input {
  width: 100%;
  height: 44px;
  line-height: 1.333333;
  padding: 11px 12px 13px;
  margin-top: 20px;
  font-size: 22px;
  border: 1px solid rgba(29, 28, 29, 0.3);
  border-radius: 4px;
}

.registered {
  text-align: center;
  font-size: 0.9rem;
}

.registered p {
  color: rgb(129, 128, 128);
}

.registered a {
  text-decoration: none;
}

form div span {
  font-size: 1rem;
  color: red;
}

.visibility-hidden {
  visibility: hidden;
}

footer {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer div {
  margin: 8px;
  font-size: 1.1rem;
  color: rgb(148, 145, 145);
}

.sub-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px;
}